* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: #f1f1f1;
}

.header-container {
  font-size: 14px;
  color: #505050;
  padding-left: 3rem;
  display: flex;
  justify-content: flex-start;
  background-color: #fafafa;
  box-shadow: 0 1px rgb(0, 0, 0, 10%);
}

.icon {
  padding: 0.8rem;
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-container a {
  padding: 0 0.8rem;
  cursor: pointer;
  color: #505050;
  text-decoration: none;
}


.header-container a:visited {
  color: #505050;
}


.grid-container {
  margin: 3rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.resume-container,
.page-container {
  margin: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 1px rgba(0, 0, 0, 0.1);
}

.page-container {
  font-size: 14px;
}

.resume-container {
  padding: 9rem;
  align-items: center;
  text-align: center;
}

.resume-container div:nth-child(2),
.resume-container div:nth-child(3) {
  padding-top: 20px;
}
.profile-image {
  background-image: url(https://images.unsplash.com/photo-1558499932-9609acb6f443?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80);
  background-size: cover;
  background-position: 10% 10%;
  border-radius: 50%;  
  width: 100px;
  height: 100px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .2);
}

.name {
  padding-top: 20px;
  font-size: large;
  font-weight: 600;
}

.contacts span,
.skills {
  font-weight: 300;
}

.svges svg{
  cursor: pointer;
}

.box {
  align-self: center;
  padding-top: 2rem;
}

.comment-container {
  padding: 1vh 4.5vh;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.comm-icon {
  margin-top: 1vh;
}

.comment a {
  color: #5095EC;
  text-decoration: none;
}

.comment a:visited {
  color: #3a71b5;
  text-decoration: none;
}

.text {
  display: flex;
  flex-wrap: wrap;
  padding: 0 8px;
  margin: 1vh 4.5vh 3vh;
  border-left: 2px solid #D3D8DE;
  gap: 1rem;
}

.text span {
  color: #8F8F8F;
}